@import url('https://fonts.googleapis.com/css2?family=Lato:wght@400;700&family=Montserrat:wght@400;700&display=swap');

* {
    box-sizing: border-box;
}

body {
    margin: 0;
    font-family: "Montserrat", sans-serif;
    background: radial-gradient(ellipse at center, #175ca7, #50455c);
    height: 100vh;
}

ul {
    list-style: none;
    padding: 0;
}

.todo {
    width: 100%;
    max-width: 600px;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    padding: 20px;
}

.container {
    background: white;
    width: 100%;
    border-radius: 20px;
    padding-bottom: 40px;
}

.wrap {
    width: 80%;
    margin: auto;
}

/* header */
.todo_header {
    background-image: linear-gradient(to right bottom, rgba(121, 111, 231, 0.5), rgba(37, 99, 96, 0.8)), url('https://images.unsplash.com/photo-1540350394557-8d14678e7f91?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9');
    background-size: cover;
    padding: 50px;
    color: #fff;
    border-top-right-radius: 20px;
    border-top-left-radius: 20px;
}

.todo_header .overflow {
    overflow: hidden;
    transform: translateX(10px);
}

.todo_header .overflow h1 {
    margin: 0;
    animation: slideInDate 0.5s ease both;
}

.todo_header .overflow #todaysDate {
    transform: translateX(-96px);
    display: block;
    animation: slideInDate 0.4s 0.1s both;
}

@keyframes slideInDate {
    0% {
        transform: translateX(-249px);
    }
    100% {
        transform: translateX(0);
    }
}

/* todo_input */
.todo_input {
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 1px 10px #777;
    background: #fff;
    transform: translateY(-40%);
}

.todo_input input {
    width: calc(100% - 60px);
    padding: 10px;
    outline: none;
    display: inline-block;
}

.todo_input input::placeholder {
    font-family: "Montserrat", sans-serif;
}

.todo_input .todo_btn {
    position: absolute;
    display: inline-block;
    border: none;
    padding: 12px;
    background-color: cadetblue;
    text-transform: uppercase;
    outline: none;
    cursor: pointer;
    color: #fff;
}

/* todo_list */
.todo_list li {
    display: flex;
    align-items: center;
    background-color: #655e75;
    color: #fff;
    margin: 10px 0;
    border-radius: 5px;
    width: 100%;
    height: 40px;
    overflow: hidden;
}

.todo_list .text {
    margin: auto;
}

.todo_list .options {
    margin-right: -115px;
    transition: margin-right 0.3s ease;
}

.todo_list li:hover .options {
    margin-right: 0;
}

.todo_list .options span {
    height: 40px;
    width: 40px;
    line-height: 40px;
    text-align: center;
    display: inline-block;
    cursor: pointer;
    margin: -3px;
    background-color: #000;
    transition: background-color 0.3s;
}

.todo_list .options span:hover:nth-child(1) {
    background-color: aquamarine;
}

.todo_list .options span:hover:nth-child(2) {
    background-color: coral;
}

.todo_list .options span:hover:nth-child(3) {
    background-color: crimson;
}

/* bounceIn animation */
.bounceIn {
    -webkit-animation-name: bounceIn;
    animation-name: bounceIn;
    -webkit-animation-duration: .75s;
    animation-duration: .75s;
    -webkit-animation-duration: 1s;
    animation-duration: 1s;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
}
@-webkit-keyframes bounceIn {
    0%, 20%, 40%, 60%, 80%, 100% {
        -webkit-transition-timing-function: cubic-bezier(0.215, 0.610, 0.355, 1.000);
        transition-timing-function: cubic-bezier(0.215, 0.610, 0.355, 1.000);
    }
    0% {
        opacity: 0;
        -webkit-transform: scale3d(.3, .3, .3);
        transform: scale3d(.3, .3, .3);
    }
    20% {
        -webkit-transform: scale3d(1.1, 1.1, 1.1);
        transform: scale3d(1.1, 1.1, 1.1);
    }
    40% {
        -webkit-transform: scale3d(.9, .9, .9);
        transform: scale3d(.9, .9, .9);
    }
    60% {
        opacity: 1;
        -webkit-transform: scale3d(1.03, 1.03, 1.03);
        transform: scale3d(1.03, 1.03, 1.03);
    }
    80% {
        -webkit-transform: scale3d(.97, .97, .97);
        transform: scale3d(.97, .97, .97);
    }
    100% {
        opacity: 1;
        -webkit-transform: scale3d(1, 1, 1);
        transform: scale3d(1, 1, 1);
    }
}
@keyframes bounceIn {
    0%, 20%, 40%, 60%, 80%, 100% {
        -webkit-transition-timing-function: cubic-bezier(0.215, 0.610, 0.355, 1.000);
        transition-timing-function: cubic-bezier(0.215, 0.610, 0.355, 1.000);
    }
    0% {
        opacity: 0;
        -webkit-transform: scale3d(.3, .3, .3);
        transform: scale3d(.3, .3, .3);
    }
    20% {
        -webkit-transform: scale3d(1.1, 1.1, 1.1);
        transform: scale3d(1.1, 1.1, 1.1);
    }
    40% {
        -webkit-transform: scale3d(.9, .9, .9);
        transform: scale3d(.9, .9, .9);
    }
    60% {
        opacity: 1;
        -webkit-transform: scale3d(1.03, 1.03, 1.03);
        transform: scale3d(1.03, 1.03, 1.03);
    }
    80% {
        -webkit-transform: scale3d(.97, .97, .97);
        transform: scale3d(.97, .97, .97);
    }
    100% {
        opacity: 1;
        -webkit-transform: scale3d(1, 1, 1);
        transform: scale3d(1, 1, 1);
    }
}
















